.heroFooter {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 3.388819932937622px 26.263355255126953px 0px #ff000f1f;
  border: 1px solid #e7e7e7;

  margin: -20% 10px 0 10px;
  padding: 16px 0px;
}

.heroFooter form {
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.inputField {
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  padding: 2px 8px;
  color: #8b8e9c;
}

.heroFooter input {
  width: 100%;
  padding: 14px 0px 14px 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.btn {
  background: linear-gradient(271.76deg, #4683d0 17.7%, #7cd0a2 145.75%);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 14px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #ffffff;
}

.search {
  padding: 0 10px;
}

@media screen and (max-width: 1064px) {
  .heroFooter {
    margin: 0 5%;
  }

  .heroFooter form {
    height: auto;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .inputField {
    width: 100%;
  }

  .btnContainer {
    width: 100%;
  }

  .btn {
    width: 100%;
  }


}
